[Unit]
Description=Run the webOS system update

[Service]
Type=oneshot
Environment=EGL_PLATFORM=fbdev
ExecStart=/usr/sbin/webos-system-update -platform eglfs /usr/bin/run-update.sh
StandardOutput=syslog
RemainAfterExit=No

[Install]
WantedBy=system-update.target
